@charset "UTF-8";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import url('reset.css');

/* Additional Resets */
article, aside, canvas, details,
figcaption, figure, footer, header,
hgroup, nav, section, summary, video {
    display: block;
}
i, em{ font-style: italic;}
b, strong{ font-weight: bold;}

/************************************************
***************  PAGE ELEMENTS  *****************
************************************************/
body{ padding: 15px; background: url('../img/resume_bg.png') repeat; font-family: Georgia, "Times New Roman", Times, serif; color: #252525;}
body#resume{ font-family: 'Open Sans', Helvetica, Arial, sans-serif;}

#mynameis a { color: #2c5e7d; }
#mynameis a:hover { text-decoration: none; }

#mynameis h1 {
  font-family: 'Candal', sans-serif;
  font-size: 50px;
  margin: 0 auto;
}
#mynameis h2 {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #603913;
}

h2,h3,h4{}
h2{ font-size: 24px; font-weight: 700; margin: 0 0 15px; text-transform: uppercase; color: #c34b01;}

h3{ font-size: 18px; font-weight: 400; margin: 8px 0 5px; line-height: 1.25em;}

h4{ font-size: 16px; font-weight: 300; font-style: italic; margin-bottom: 8px;}

p{ line-height: 1.5em; margin:0 0 18px; font-size: 15px;}
#resume p{ font-weight: 300; line-height: 1.4em;}

a{ color: #252525; text-decoration: none;}
  a:hover{ text-decoration: underline;}

img{ max-width: 100%;}

/***********************************************
************  STRUCTURAL ELEMENTS  *************
************************************************/
body > section{ background-color: #fff; max-width: 740px; padding: 20px 25px; margin: 0 auto 15px;}
header{ overflow: hidden; margin-bottom: 20px;}


#contact-info{ margin: 0px auto; clear: both; padding-top: 10px;}
  #contact-info p{ font-size: 14px; margin-bottom: 8px;}
  #contact-info a{ color: #252525;}

#mynameis { float: left; }

article{ margin-bottom: 20px;}

.job-daterange{ font-size: 18px; color: #c34b01;}

dl{ margin-bottom: 15px;}
dt{ font-size: 21px; color: #c34b01; margin: 15px 0 8px;}
  dd{ margin-bottom: 6px; font-weight: 300; font-size: 14px;}
  dd:before{
    content: "\00bb";
    margin-right: 4px;
  }

#next-steps{ text-align: center; font-size: 12px; letter-spacing: 3px; text-transform: uppercase; color: #666; line-height: 2.5em !important; font-family: Georgia, "Times New Roman", Times, serif;}
  #next-steps a{ color: #666;}

footer{ clear: both; padding: 10px 0; margin-top: 40px; text-align: center; font-weight: 300; font-size: 18px; border-bottom: 5px solid #c3272f;}

/***********************************************
*************** GLOBAL CLASSES  ****************
************************************************/
.btn{ text-decoration: none; cursor: pointer;}
  .btn:hover{ text-decoration: underline;}

.cf:after{ content: ''; display: block; clear: both; visibility: hidden; height: 0;}


/***********************************************
*************** MEDIA QUERIES  *****************
************************************************/

@media screen and (min-width: 600px){
  body{ padding: 20px 40px;}
  body > section{ padding: 40px 50px;}
  p#signature{ width: 40%; float: right;}

  dl{ width: 33.3333%; float: left; margin-bottom: 20px;}
}

@media screen and (min-width: 800px){
  #mynameis{ float: left; margin: 0;}

  #contact-info{ float: right; width: 30%; margin-top: 15px 0 0; text-align: left; clear: none;}

  body > section section{ width: 63.513514%; float: left; clear: left;}
  aside{ float: right; width: 30%;}

  dl{ width: auto; float: none; margin-bottom: 0;}
    dd{ font-size: 16px;}

}


@media print{
  body { background: none; }
  body > section{ padding: 10px 10px 0;}
  p{ font-size: 14px;}
  #next-steps{ display: none !important;}

  #mynameis h1 { font-size: 40px; }
  #contact-info{ float: right; width: 30%; margin-top: 15px 0 0; text-align: left; clear: none;}

  body > section section{ width: 63.513514%; float: left; clear: left;}
  aside{ float: right; width: 30%;}

  dl{ width: auto; float: none; margin-bottom: 0;}
    dd{ font-size: 14px;}

}
