body {
  background-color: #3c281f;
  line-height: 300%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
h1 {
  color: #F9D904;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0;
  font-weight: 500;
}
h1#germano {
  font-family: 'Candal', sans-serif;
  text-align: right;
  margin-bottom: -3px;
  padding-right: 16px;
  margin-top: 20px;
}
h1 a {
  color: #F9D904;
  -moz-transition: color 0.2s ease-out 0s;
  -webkit-transition: color 0.2s ease-out 0s;
  -khtml-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}
h1 a:hover {
  color: #ffb200;
  text-decoration: none;
}
h1 em {
  font-style: normal;
  text-transform: uppercase;
}
h2 {
  color: #FEFEFE;
  font-size: 28px;
}
a {
  text-decoration: none;
  background-color: transparent;
}
strong {
  color: #FFFFFF;
  letter-spacing: 0.05em;
}

#container {
  background: #2C5E7D;
  margin: 0 auto;
  padding: 10px 0;
}
#home #container {
  background: #2C5E7D url('../img/skyline.png') no-repeat bottom left;
  min-height: 420px;
  background-position-x: 80px;
  padding: 30px 80px 60px;
}
#home p a,
#home #container li a {
  color: #FFFFFF;
  padding: 0 3px;
  border-bottom: 1px dotted #F5ECEC;
}
#home p a:hover,
#home #container li a:hover {
  background-color: #ffb200;
  text-decoration: none;
  border-bottom: none;
  border-radius: 2px;
}

/* Homepage */
h1 {
  font-family: 'Candal', sans-serif;
}
#home h2 {
  height: 50px;
}
#home h2 span {
  display: none;
}
#home p {
  width: 620px;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 1em 0;
  color: #F5ECEC;
}
#home p:last-child {
  margin-bottom: 175px;
}
ul.links {
  padding-left: 0;
}
ul.links li {
  list-style-type: none;
  line-height: 2em;
  display: inline;
  font-size: 18px;
}

#stripe {
  height: 50px;
  background: url('../img/resume_bg.png') repeat-x;
}
#footer {
  padding: 20px 0 40px 80px;
}
#footer img {
  float: left;
}
ul#social {
  font-size: 14px;
  padding-left: 0;
  position: relative;
  top: 15px;
  left: 10px;
  width: 80%;
}
#social li {
  display: inline;
  border-right: 1px solid #FFFFFF;
  padding: 0 8px 0 6px;
}
#social li.last {
  border-right: none;
}
#social a, #social a:hover {
  color: #FFFFFF;
  text-decoration: none;
  -moz-transition: color 0.2s ease-out 0s;
  -webkit-transition: color 0.2s ease-out 0s;
  -khtml-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}
#social a:hover {
  color: #F9D904;
}

/* Work samples page */
#portfolio {
  background: #FFF;
  padding: 20px 40px;
  border: 1px solid #603913;
  margin: 20px 0 50px 0;
}
#portfolio h2 {
  font-size: 32px;
  font-weight: 600;
  color: #c34b01;
  margin: 8px 0 0 20px;
}
#portfolio h3 {
  font-size: 20px;
  font-weight: 700;
  color: #603913;
  line-height: 1.3em;
}
.portfolio-group {
  padding-bottom: 40px;
  margin-top: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.portfolio-group:first-child {
  margin-top: 0;
}
.portfolio-group:last-child {
  border-bottom: none;
}
.portfolio-item {
  margin-bottom: 20px;
}
.portfolio-item p {
  width: 270px;
  margin-left: 0px;
  line-height: 1.5em;
  margin: 0 0 0 12px;
}
#portfolio p.title {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 20px 20px;
  line-height: normal;
}

/* Media queries */
@media all and (max-width: 545px) {
  ul.links li {
    display: block;
  }
}
@media all and (max-width: 779px) {
  #footer img {
    display: none;
  }
  ul#social {
    width: 70%;
  }
  #home #container,
  #container {
    padding: 20px;
    background-position-x: 10px;
  }
  #home h2 {
    height: auto;
    margin-bottom: 30px;
  }
  #home h2 span {
    display: block;
    margin: 8px 0;
  }
  #home p {
    width: auto;
  }
  #home p:last-child {
    margin-bottom: 225px;
  }
  #footer {
    padding: 20px 0 20px 10px;
  }
  #social li {
    border-right: none;
    padding: 5px 0 0 6px;
  }
}
@media all and (min-width: 850px) {
  #container {
    padding-left: 40px;
  }
}
