@font-face {
  font-family: 'Candal';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/candal-v8-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Candal'), url('../assets/fonts/candal-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/candal-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/candal-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/candal-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/candal-v8-latin-regular.svg#Candal') format('svg');
  /* Legacy iOS */
}

body {
  background-color: #3c281f;
  line-height: 300%;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

h1 {
  color: #F9D904;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0;
  font-weight: 500;
}

h1 a {
  color: #F9D904;
  -moz-transition: color 0.2s ease-out 0s;
  -webkit-transition: color 0.2s ease-out 0s;
  -khtml-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}

h1 a:hover {
  color: #ffb200;
  text-decoration: none;
}

h1 em {
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  color: #FEFEFE;
  font-size: 28px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

strong {
  color: #FFFFFF;
  letter-spacing: 0.05em;
}

#container {
  background: #2C5E7D;
  margin: 0 auto;
  padding: 10px 0;
}

.dark-wrap#container {
  background: #2C5E7D url('../assets/skyline.png') no-repeat bottom left;
  min-height: 420px;
  background-position-x: 80px;
  padding: 30px 80px 60px;
}

.dark-wrap p a, .dark-wrap#container li a {
  color: #FFFFFF;
  padding: 0 3px;
  border-bottom: 1px dotted #F5ECEC;
}

.dark-wrap p a:hover, .dark-wrap#container li a:hover {
  background-color: #ffb200;
  text-decoration: none;
  border-bottom: none;
  border-radius: 2px;
}

/* Homepage */

h1 {
  font-family: 'Candal', sans-serif;
}

.dark-wrap h2 {
  height: 50px;
  left: -14px;
  position: relative;
}

.dark-wrap p {
  width: 620px;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 1em 0;
  color: #F7F7F7;
}

.dark-wrap p:last-child {
  margin-bottom: 175px;
}

ul.links {
  padding-left: 0;
}

ul.links li {
  list-style-type: none;
  line-height: 2em;
  display: inline;
  font-size: 18px;
}

/* Tagline animation */

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  animation-delay: .9s;
}

.fade-in.three {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* Footer */

#stripe {
  height: 50px;
  background: url('../assets/resume_bg.png') repeat;
}

#footer {
  padding: 20px 0 40px 80px;
}

#footer img {
  float: left;
}

ul#social {
  font-size: 14px;
  padding-left: 0;
  position: relative;
  top: 15px;
  left: 10px;
  width: 80%;
}

#social li {
  display: inline;
  border-right: 1px solid #FFFFFF;
  padding: 0 8px 0 6px;
}

#social li:last-child {
  border-right: none;
}

#social a, #social a:hover {
  color: #FFFFFF;
  text-decoration: none;
  -moz-transition: color 0.2s ease-out 0s;
  -webkit-transition: color 0.2s ease-out 0s;
  -khtml-transition: color 0.2s ease-out 0s;
  transition: color 0.2s ease-out 0s;
}

#social a:hover {
  color: #F9D904;
}

/* Media queries */

@media all and (max-width: 850px) {
  #footer img {
    display: none;
  }
  ul.links {
    margin-bottom: 220px;
  }
  ul.links li {
    display: inline-block;
  }
  ul#social {
    width: 70%;
  }
  .dark-wrap#container, #container {
    padding: 20px;
    background-position-x: 10px;
  }
  .dark-wrap h2 {
    height: auto;
    margin-bottom: 30px;
    left: -10px;
  }
  .dark-wrap h2 span {
    display: block;
    margin: 8px 0;
  }
  .dark-wrap p {
    width: auto;
  }
  .dark-wrap p:last-child {
    margin-bottom: 225px;
  }
  #footer {
    padding: 20px 0 20px 10px;
  }
  #social li {
    border-right: none;
    padding: 5px 0 0 6px;
  }
}

@media all and (min-width: 850px) {
  #container {
    padding-left: 40px;
  }
  ul.links {
    margin-bottom: 180px;
  }
}

/* Emojis */

/* Copied over from emojione-awesome.css so we don't have to load that whole file */

[class*=e1a-] {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: -.2ex .05em 0 .1em;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
  padding: 0 .5em;
  /* custom */
}

h2 i:first-child, p i:first-child {
  padding-left: 0;
}

/* custom */

.e1a-lg {
  width: 1.25em;
  height: 1.25em;
  margin: -0.25ex 0.0625em 0 0.125em;
  background-size: 1.25em 1.25em;
}

.e1a-2x {
  width: 2em;
  height: 2em;
  margin: -0.4ex 0.1em 0 0.2em;
  background-size: 2em 2em;
}

.e1a-3x {
  width: 3em;
  height: 3em;
  margin: -0.6ex 0.15em 0 0.3em;
  background-size: 3em 3em;
}

.e1a-4x {
  width: 4em;
  height: 4em;
  margin: -0.8ex 0.2em 0 0.4em;
  background-size: 4em 4em;
}

.e1a-5x {
  width: 5em;
  height: 5em;
  margin: -1ex 0.25em 0 0.5em;
  background-size: 5em 5em;
}

.e1a-floppy_disk {
  background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f4be.svg");
}

.e1a-beer {
  background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f37a.svg");
}

.e1a-snowflake {
  background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/2744.svg");
}

.e1a-metal_tone2 {
  background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/1f918-1f3fc.svg");
}

.e1a-hammer_pick {
  background-image: url("//cdn.jsdelivr.net/emojione/assets/svg/2692.svg");
}